{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<form action="{% url 'profile' %}" class="home_form">
    <button class="h_btn_1">Войти</button>
</form>
{% else %}
<form action="{% url 'login' %}" class="home_form">
    <button class="h_btn_1">Войти</button>
</form>
{% endif %}
<form action="{% url 'signup' %}" class="home_form">
    <button class="h_btn_2">Зарегистрироваться</button>
</form>
<form action="{% url 'table' %}" class="home_form">
    <button class="h_btn_3">Работники</button>
</form>
{% endblock content %}